.modal
    position: fixed
    z-index: 2

    &__overlay
        position: fixed
        top: 0
        bottom: 0
        left: 0
        z-index: 2
        right: 0
        background-color: rgba(0,0,0,.3)
    &__body
        background-color: white
        z-index: 3
        position: fixed
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        min-width: 300px
        border-radius: 5px
        padding: 20px
        max-height: 90vh
        overflow-y: auto
        &--header
            display: flex
            justify-content: space-between
            align-items: center
            padding: 10px 0
            button
                border: none
                background-color: white
                font-size: 18px

.property-modal
    width: 100%
    font-size: 14px
    .form-group
        margin: 15px 0
        label
            display: block
            margin-bottom: 5px
        input
            width: 100%
            display: block
            box-sizing: border-box
            padding: 10px 5px
            border-radius: 3px
            border: 1px solid #ccc
    button
        background-color: blue
        color: white
        padding: 10px 20px
        border: none