.panel
    background-color: #f3f3f3
    padding: 8px
    position: relative
    *
        position: absolute
        cursor: pointer
        transition: all .2s linear
        &:focus, &:focus-within
            outline: 1px solid red
    button
        background-color: blue
        color: white
        padding: 10px 20px
        border: none
    input
        background-color: white
        padding: 10px 5px
        border: 1px solid #ccc
        height: 30px 
        min-width: 200px          