*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Noto Sans JP', sans-serif;
}
header{
    padding: 20px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
}
section{
    padding: 20px;
}